body {
  margin: 0;
  font-family: "Oswald", Courier, monospace;
}

@font-face {
  font-family: "Oswald";
  src: url("./fonts/Oswald-Regular.ttf"), format("ttf");
  font-weight: normal;
  font-style: normal;
}

h1 {
  margin: 0;
  font-size: 2rem;
}


#content {
  display: grid;
  grid-template-areas:
    "a a a a a a "
    "b c c c c c"
    "b c c c c c";
}

#top-bar {
  grid-area: a;
  background-color: rgb(139, 72, 189);
  color: white;
  height: 10vh;
  line-height: 10vh;
}

#top-bar h1 {
  padding-left: 1.5%;
}

#left-side-bar {
  grid-area: b;
  background-color: coral;
  height: 90vh;
}

#to-dos-container {
  grid-area: c;
  background-color: rgb(0, 188, 240);
  height: 90vh;
  display: flex;
  justify-content: space-between;
}

#current-tasks-container {
  flex: 1;
}

#current-task-list-container {
  background-color: #ffff88;
  height: 75vh;
  margin: 2%;
}

#add-taskbar {
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
}

#task-input-bar {
  width: 90%;
}

#task-input-detail {

}

#details-container {
  /* grid-area: c; */
  background-color: rgb(20, 165, 173);
  height: 90vh;
  flex-direction: column;
  flex: 1;
}

#details {
  background-color: paleturquoise;
  height: 75vh;
  margin: 0 2% 2% 2%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#details > div {
  flex-shrink: 1;
}

#details h3 {
  margin: 0.5%;
  color: hotpink;
}

#details input, select, textarea {
  margin: 0.5%;
}

#time-due > input[type=time] {
  width: 6.5rem;
}

textarea {
  width: 50%;
  height: 100px;
  resize: none;
}

#details-btn-container {
  display: flex;
  margin-left: 0.5%;
}

#save-btn {
  height: 24px;
  width: 24px;
  background-image: url("./images/save.svg");
}

#cancel-btn {
  height: 24px;
  width: 24px;
  background-image: url("./images/cancel.svg");
}

#delete-btn {
  height: 24px;
  width: 24px;
  background-image: url("./images/delete.svg");
  background-size: 100% 100%;
}

#add-project, .added-projects {
  list-style-type: none;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.added-projects:hover {
  color: #ffdb58;
}

#add-project:hover {
  color: blueviolet;
}

.active-pane-title {
  color: white;
  padding-left: 1.5%;
  margin-top: 1%;
  margin-bottom: 2.5%;
}

.project-btns {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.add-projects {
  cursor: pointer;
}

.filter-white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(125deg)
    brightness(100%) contrast(102%);
}

.filter-orange {
  filter: invert(100%) sepia(66%) saturate(7005%) hue-rotate(315deg) brightness(107%) contrast(105%)
}

.active-project {
  color: #ffdb58;
}

.project-action-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-edit-btn {
  height: 24px;
  width: 24px;
  background-size: 100% 100%; 
}

.project-edit-btn:hover {
  filter: invert(100%) sepia(66%) saturate(7005%) hue-rotate(315deg) brightness(107%) contrast(105%)
}

.project-delete-btn {
  height: 24px;
  width: 24px;
  background-size: 100% 100%;
}

.project-delete-btn:hover {
  filter: invert(100%) sepia(66%) saturate(7005%) hue-rotate(315deg) brightness(107%) contrast(105%)
}

.proj-edit-hovered {
  background-image: url(./images/edit.svg);
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(125deg)
  brightness(100%) contrast(102%);
}

.proj-del-hovered {
  background-image: url(./images/delete.svg);
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(125deg)
  brightness(100%) contrast(102%);
}

.task-list-item-container {
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  justify-content: space-between;
}

.task-list-item {
  list-style-type: none;
  cursor: pointer;
}

.task-list-item:hover {
  color: dodgerblue;
}

.task-action-btn-container {
  display: flex;
}

.active-task {
  color: dodgerblue;
}

