body {
  margin: 0;
  font-family: "Oswald", Courier, monospace;
}

@font-face {
  font-family: "Oswald";
  src: url("./fonts/Oswald-Regular.ttf"), format("ttf");
  font-weight: normal;
  font-style: normal;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

#content {
  display: grid;
  grid-template-areas:
    "a a a a a a "
    "b c c c c c"
    "b c c c c c";
}

#top-bar {
  grid-area: a;
  background-color: rgb(139, 72, 189);
  color: white;
  height: 10vh;
  line-height: 10vh;
}

#top-bar h1 {
  padding-left: 1.5%;
}

#left-side-bar {
  grid-area: b;
  background-color: coral;
  height: 90vh;
}

#to-dos-container {
  grid-area: c;
  background-color: rgb(0, 188, 240);
  height: 90vh;
}

#current-task-list-container {
  background-color: #ffff88;
  height: 75vh;
  margin: 2%;
}

#add-taskbar {
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
}

#task-input-bar {
  width: 90%;
}

#details-container {
  grid-area: c;
  background-color: rgb(20, 165, 173);
  height: 90vh;
}

#details {
  background-color: paleturquoise;
  height: 75vh;
  margin: 2%;
}

#details h3 {
  margin: 0.5%;
  color: hotpink;
}

#details input, select, textarea {
  margin: 0.5%;
}

#details textarea {
  height: 125px;
  width: 375px;
}

.add-projects {
  list-style-type: none;
  color: white;
  font-size: 1.5em;
}

.active-pane-title {
  color: white;
  padding-left: 1.5%;
  margin-top: 1%;
  margin-bottom: 2.5%;
}

.project-btns {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.filter-white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(125deg)
    brightness(100%) contrast(102%);
}
